[Unit]
Description=Run Arch Auto Install
After=network.target

[Service]
Type=oneshot
ExecStart=/root/scripts/arch-install.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
