[Desktop Entry]
Type=Application
Name=Calamares Installer
Exec=sudo calamares
Icon=calamares
Comment=System Installer
Categories=System;
X-KDE-autostart-phase=2
