[Desktop Entry]
Type=Application
Name=Calamares Installer
Comment=System Installer
Exec=sudo calamares
Icon=calamares
Categories=System;
X-KDE-autostart-phase=2
